.topNav {
    border-bottom: 1px solid #D0D5DD;
    margin-left: 422px;
    display: flex;
    justify-content: space-between;
    height: 72px;
    color: var(--gray-600, #475467);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    align-items: center;
}

.topNav div {
    display: flex;
    justify-content: space-evenly;
    height: 28px;
    align-items: center;
}

.topNav>div:nth-child(1) {
    margin: 0 36px;
}

img{
    width: 20px;
}
.right{
    width: 16px;
    margin: 8px;
}
.topNav>div:nth-child(2) {
    margin: 0 32px;
}
.topNav>div:nth-child(2)>div{
    margin: 0 10px
}
.current{
    color: var(--primary-700, #6941C6);

/* Text sm/Semibold */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
display: flex;
align-items: center;
border-radius: 6px;
background: var(--primary-50, #F9F5FF);
padding: 4px 8px;
}